@import "src/styles/colors";

.shopping_cart {
  &-cart {
    &-wrapper {
      margin: 2rem;
    }
    &-row {
      display: flex;
      padding: 2rem;
      font-size: 2rem;
      &-head {
        font-weight: 300;
        border-top: 1px solid $textSecondary;
        border-bottom: 1px solid $textSecondary;
      }
    }
    &-column1 {
      flex: 1 1 auto;
      font-size: 2rem;
    }
    &-column2 {
      flex: 12rem 0 1;
      font-size: 2rem;
    }
  }
}
